.hero {
     position: relative; 
     min-height: 600px;
     background-image: url(../assets/background/hero-bg.png);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
}