html {
    height: 100%; 
    font-size: 100%;
}

body {
	background-color: #B8B8B8;
    font-family: 'Poppins-Medium';
    color: white;             
    min-height: 100%;         
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
}