html {
	background-color: #F8F8F8;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    max-width: 960px;
    color: white;
} 

/* MENU */
nav {
	padding-top: 10px;
	padding-bottom: 10px;
}

.item {
	display: inline-block;
}

/* Hero */
.hero {
	text-align: center;
}

/* Title */
.cta.section {
	text-align: center;eeeewx
}

.title {
	text-align: center;
}

/* Footer */
ul i + i {
	padding left: 2rem;
}

.copyright {
	text-align: center;
}
